
<hr>
<div class="container">
    <p>Copyright (c) CampMi | Developed by <a href="#">Prime StarLab</a> </p>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
<script src="/scripts/frontScript.js"></script>
</body>
</html>