<footer class="main-footer">
    <div class="container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <div class="row clearfix">
                    <!--Footer Column-->
                    <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="logo">
                               <h1>Campwe</h1>
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.</p>
                                <p>Quis nostrud exercitation ullam aboris nisi aliquip exea commodo consequat duis aute irure.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-widget links-widget">
                            <h2>Quick Links</h2>
                            <ul class="footer-list">
                                <li><a href="#">Campgrounds</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Service</a></li>
                                <li><a href="#">Site map</a></li>
                            </ul>
                        </div>
                    </div>

                     <!--Footer Column-->
                    <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget info-widget">
                            <h2>Contact Info</h2>
                            <ul class="info-list">
                                <li>Flat 20, Reynolds Neck, North Hele naville, FV77 8WS</li>
                                <li>+2(305) 587-3407</li>
                                <li>info@morris.com</li>
                            </ul>
                            <!-- Social Links -->
                            <ul class="social-links">
                                <li class="google"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                <li class="facebook"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li class="instagram"><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row clearfix">
                
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright"><span class="theme_color">Campwe</span> &copy; 2022 | Developed by <a href="#">Prime StarLab</a></div>
                </div>
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <ul class="footer-nav">
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/frontScript.js"></script>
</body>
</html>