.border-md {
	border-width: 2px;
}

.btn-facebook {
	background: #405d9d;
	border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
	background: #314879;
}

.btn-google {
	background: #db4437;
	border: none;
}

.btn-google:hover,
.btn-google:focus {
	background: #c00b0b;
}

/* Submit  btn */
.btn-submit {
	background-color: #54077a !important;
	color: rgb(243, 239, 239);
	border-color: #adadad;
	border-radius: 25px;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
	background-color: #360d4b !important;
	color: rgb(253, 247, 247);
	border-color: #54077a !important;
}

body {
	min-height: 100vh;
}

.form-control:not(select) {
	padding: 1.5rem 0.5rem;
}

select.form-control {
	height: 52px;
	padding-left: 0.5rem;
}

.form-control::placeholder {
	color: #ccc;
	font-weight: bold;
	font-size: 0.75rem;
}
.form-control:focus {
	box-shadow: none;
}
